<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" href="../public/css/style.css">
	<%-include('include/style')%>
</head>

<body>


	<div class="login-wrap">
		<div class="login-html">
			<!-- <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label> -->
			<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Click me</label>
			<div class="login-form">
				
			<%-include('include/adhaar_form')%>
           
		
			</div>
		</div>
	</div>

	
</body>
</html>